@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-font: #EEEEEE;
    --color-blackGrey: #242020;
    --color-black: #242629;
    --color-Gold: #FFD369;
    --color-hover: #EDEDED;
    --font-kode: "Kode Mono", monospace;
    /*400 to 700*/
    --fonte-sans: "Open Sans", sans-serif;
    /*300 to 800*/
}


body {
    
    color: var(--color-font);
    background-color: var(--color-blackGrey);

}

.cabeçalho {
    display: flex;
    flex-direction: column;
    padding: 1.3rem 0 ;
}


.cabeçalho__nav {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    padding: 0 5rem 0 0;
}

.cabeçalho__nav_link {
    font-family: var(--fonte-sans);
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--color-font);
    text-decoration: none;
    text-transform: uppercase;
}
.lista_icone{ }

.link_icone {
    color: var(--color-Gold);

}

.icones{ }

.homePage {
    display: flex;
    flex-direction: column;
}

#section_I {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5rem;
}

.first__page { 
    padding-right: 5rem;
}

.btn {
    margin: 1rem 0;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    background-color: var(--color-black);
    color: var(--color-Gold);
    text-transform: uppercase;
    font-size: 1rem;
  }

#homePage__titulo {
    font-family: var(--fonte-sans);
    font-weight: 600;
    font-size: 3.12rem;
}

#homePage__titulo__span {
    font-family: var(--font-kode);
    font-size: 3.50rem;
    font-weight: 700;
    color: var(--color-Gold);
    animation: fadeInOut 5s infinite;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }
}

.homePage__paragrafo {
    font-family: var(--fonte-sans);
    font-size: 1.5rem;
    font-weight: 400;
}

#section_II {
    display: flex;
    flex-direction: column;
}

.second__page{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5rem;
}

.second__page-page{
    display: flex;
    flex-direction: row;
    padding-top: 6rem;
}

.titulo__sobre{
    font-family: var(--fonte-sans);
    font-weight: 600;
    font-size: 3.12rem;
}

.sobre__sobre{
    padding: 0 3rem 0 15rem;
    font-family: var(--fonte-sans);
    font-size: 1.5rem;
    font-weight: 400;
}

.felipe {
    margin-top: 3rem;
    position: absolute;
    border: solid var();
    border-radius: 10rem;
    background-color: var(--color-black);
}

.titulo__Skills{
    font-family: var(--fonte-sans);
    font-weight: 600;
    font-size: 3.12rem;
}

.card {
    color: var(--color-Gold);
    border-radius: 10px;
    background: var(--color-black);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1rem;
    padding: 1rem;
    font-family: var(--font-kode);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.card_lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topico_card {
    text-align: center;
}